@model MvcApp.Models.EventDetail

@{
    ViewData["Title"] = "CreateorEdit";
}

<h4>EventDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="EventDetailID" class="control-label"></label>
                <input asp-for="EventDetailID" class="form-control" />
                <span asp-validation-for="EventDetailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDetailName" class="control-label"></label>
                <input asp-for="EventDetailName" class="form-control" />
                <span asp-validation-for="EventDetailName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDetailNumber" class="control-label"></label>
                <input asp-for="EventDetailNumber" class="form-control" />
                <span asp-validation-for="EventDetailNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDetailOdd" class="control-label"></label>
                <input asp-for="EventDetailOdd" class="form-control" />
                <span asp-validation-for="EventDetailOdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishingPosition" class="control-label"></label>
                <input asp-for="FinishingPosition" class="form-control" />
                <span asp-validation-for="FinishingPosition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FirstTimer" /> @Html.DisplayNameFor(model => model.FirstTimer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FK_EventID" class="control-label"></label>
                <input asp-for="FK_EventID" class="form-control" />
                <span asp-validation-for="FK_EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_EventDetailStatusID" class="control-label"></label>
                <input asp-for="FK_EventDetailStatusID" class="form-control" />
                <span asp-validation-for="FK_EventDetailStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-success" />
                <input type="reset" value="Reset" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
