@model MvcApp.Models.Event

@{
    ViewData["Title"] = "CreateorEdit";
}

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateorEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="EventID" class="control-label"></label>
                <input asp-for="EventID" class="form-control" />
                <span asp-validation-for="EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventNumber" class="control-label"></label>
                <input asp-for="EventNumber" class="form-control" />
                <span asp-validation-for="EventNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDateTime" class="control-label"></label>
                <input asp-for="EventDateTime" class="form-control" />
                <span asp-validation-for="EventDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEndDateTime" class="control-label"></label>
                <input asp-for="EventEndDateTime" class="form-control" />
                <span asp-validation-for="EventEndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AutoClose" /> @Html.DisplayNameFor(model => model.AutoClose)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FK_TournamentID" class="control-label"></label>
                <input asp-for="FK_TournamentID" class="form-control" />
                <span asp-validation-for="FK_TournamentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-success" />
                <input type="reset" value="Reset" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
